@model IEnumerable<EcommerceElena.Models.Category>

@{
    ViewBag.Title = "Categories";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Ajouter une nouvelle categorie", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nomCategory)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nomCategory)
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id=item.idCategory }) |
            @Html.ActionLink("Supprimer", "Delete", new { id=item.idCategory })
        </td>
    </tr>
}

</table>
