@model EcommerceElena.Models.Commande
@using EcommerceElena.Models

@{
    ViewBag.Title = "Panier";
}
<style>
    th {
        text-align: center
    }

    td {
        text-align: center
    }

    .prix {
        font-weight: bold;
        text-align: right
    }
    .title {
        font-family:'Ink Free';
        font-size: 40px;
    }
</style>

<h2 class="title">Mon panier</h2>

<script>
    $(function () { majTotal(); })

    function majTotal()
    {
        $.ajax
            ({
                type: "GET", url: '@Url.Action("calculerTotal", "Panier")',
                success: function (data) {
                    $('#total').html(data);
                    livraison();
                    totalLivr();
                }
            });
    }

    $(function () { livraison(); })

    function livraison()
    {
        $.ajax
            ({
                type: "GET", url: '@Url.Action("Livraison", "Panier")',
                success: function (data) { $('#livr').html(data); }
            });
    }

    $(function () { totalLivr(); })

    function totalLivr()
    {
        $.ajax
            ({
                type: "GET", url: '@Url.Action("TotalAvecLivraison", "Panier")',
                success: function (data) { $('#total2').html(data); }
            });
    }

</script>

<table>
    <tr>
        <th class="col-md-1"></th>
        <th class="col-md-3">Produit</th>
        <th class="col-md-2">Fabricant</th>
        <th class="col-md-1">Prix</th>
        <th class="col-md-1"></th>
        <th class="col-md-2">
            <span class="col-md-5 col-md-offset-1">Quantité</span>
            <span class="col-md-4">Montant</span>
        </th>
    </tr>

    @foreach (var detail in Model.DetailCommandes)
    {
<tr id="@("r"+detail.idProd)">

    <td class="col-md-1">
        @Ajax.ActionLink(" ", "Supprimer", new { id = detail.idProd },
   new AjaxOptions { HttpMethod = "GET", OnSuccess = "majTotal", InsertionMode = InsertionMode.Replace, UpdateTargetId = "r" + detail.idProd },
   new { @class = "glyphicon glyphicon-remove" })
    </td>

    <td class="col-md-3">
        <span><image src="@Url.Content("~/Images/" + detail.Produit.idProd + "_" + detail.Produit.imageUrl)" width="50"></image></span>
        <span>@detail.Produit.nomProd</span>
    </td>

    <td class="col-md-2">@detail.Produit.Fournisseur.nomFourn</td>

    <td class="col-md-1">@detail.Produit.PrixProd €</td>

    <td class="col-md-1">
        <span class="col-md-6">
            @Ajax.ActionLink(" ", "Incrementer", new { id = detail.idProd },
               new AjaxOptions { HttpMethod = "GET", OnSuccess = "majTotal", InsertionMode = InsertionMode.Replace, UpdateTargetId = "q" + detail.idProd },
               new { @class = "glyphicon glyphicon-plus" })
        </span>
        <span class="col-md-6">
            @Ajax.ActionLink(" ", "Decrementer", new { id = detail.idProd },
               new AjaxOptions { HttpMethod = "GET", OnSuccess = "majTotal", InsertionMode = InsertionMode.Replace, UpdateTargetId = "q" + detail.idProd },
               new { @class = "glyphicon glyphicon-minus" })
        </span>
    </td>


    <td class="col-md-2" id="@("q"+detail.idProd)"><span class="col-md-4 col-md-offset-2">@detail.quantite</span><span class="col-md-4">@(detail.Produit.PrixProd * detail.quantite) €</span></td>
</tr>
    }
</table>
<br />
<hr />
<div class="row text-right">
    <div class="col-md-2 col-md-offset-10">
        <span>Prix :</span>
        <span id="total"></span>
        <span>€</span>
    </div>
</div>
<div class="row text-right">
    <div class="col-md-2 col-md-offset-10">
        <span>Livraison :</span>
        <span id="livr"></span>
        <span>€</span>
    </div>
</div>
<br/>
<div class="row prix text-right">
    <div class="col-md-2 col-md-offset-10">
        <span>Total :</span>
        <span id="total2"></span>
        <span>€</span>
    </div>
</div>



<br />
<div>
    <input type="button" class="btn-success btn-lg" value="Passer la commande" onclick="location.href='@Url.Action("Confirmation", "Commande")'" />
</div>
<br />
<br />
<p>
    <input type="button" class="btn-info btn-lg" value="Continuer les achâts" onclick="location.href='@Url.Action("Gallery", "Produit")'" />
</p>
