@model EcommerceElena.Models.Produit

@{
    ViewBag.Title = "Bloquer";
}

@if (Model.statusProd == "bloque")
{
    <h2>Debloquer</h2>

    <h3>Voulez-vous debloquer ce produit ?</h3>
}
else
{
    <h2>Bloquer</h2>

    <h3>Voulez-vous bloquer ce produit ?</h3>
}
<div>
    <h4>@Html.DisplayFor(model => model.nomProd)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.nomCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.nomCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fournisseur.nomFourn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fournisseur.nomFourn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrixProd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrixProd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.couleur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.couleur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.capacite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.capacite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.poids)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.poids)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.longeur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.longeur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.largeur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.largeur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hauteur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hauteur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descriptionProd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descriptionProd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imageUrl)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    @if (Model.statusProd == "bloque")

    {
        <input type="submit" value="Debloquer" class="btn btn-default" />
    }
    else
    {
        <input type="submit" value="Bloquer" class="btn btn-default" />
    }

    @Html.ActionLink("Retourner à la page principale", "Index")
</div>
    }
</div>
