@model IEnumerable<EcommerceElena.Models.Produit>

@{
    ViewBag.Title = "Produits";
}

<h2>La liste des produits</h2>

<p>
    @Html.ActionLink("Ajouter un nouveau produit", "Create")
</p>
<table class="table">
    <tr>
        <th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrixProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.nomCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fournisseur.nomFourn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.statusProd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        <image src="@Url.Content("~/Images/" + item.idProd + "_" + item.imageUrl)" height="30")"></image>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.nomProd)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PrixProd)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Category.nomCategory)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Fournisseur.nomFourn)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.statusProd)
    </td>
    <td>
        @Html.ActionLink("Modifier", "Edit", new { id = item.idProd }) |
        @Html.ActionLink("Details", "Details", new { id = item.idProd }) |
        @Html.ActionLink("Supprimer", "Delete", new { id = item.idProd }) |
        @if (item.statusProd == "bloque")
        {
            @Html.ActionLink("Debloquer", "Bloquer", new { id = item.idProd })
        }
        else
        { @Html.ActionLink("Bloquer", "Bloquer", new { id = item.idProd })}
    </td>
</tr>
}

</table>
