@model EcommerceElena.Models.Fournisseur

@{
    ViewBag.Title = "Bloquer";
}

@if (Model.status == "bloque")
{
    <h2>Debloquer</h2>

    <h3>Voulez-vous debloquer ce fabricant ?</h3>
}
else
{
    <h2>Bloquer</h2>

    <h3>Voulez-vous bloquer ce fabricant ?</h3>
}
<div>
    <h4>@Html.DisplayFor(model => model.nomFourn)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.emailFourn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emailFourn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telephoneFourn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telephoneFourn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paysFourn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paysFourn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.villeFourn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.villeFourn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adresseFourn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adresseFourn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codePostal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codePostal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descriptionFourn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descriptionFourn)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    @if (Model.status == "bloque")

    {
        <input type="submit" value="Debloquer" class="btn btn-default" />
    }
    else
    {
        <input type="submit" value="Bloquer" class="btn btn-default" />
    }

    @Html.ActionLink("Retourner à la page principale", "Gallery", "Produit")
</div>
    }
</div>
