@model EcommerceElena.Models.Produit

@{
    ViewBag.Title = "Details";
}

<style>
    .prix {font-weight: bold; font-size: 20px; color:brown}
    .it{font-style: italic}
    .bold {font-weight:bold}
    .descr {width: 180px}
    .prenom {color:brown}
    .title {
        font-family:'Ink Free';
        font-size: 40px;
    }
    .imagemod {
        width: 500px;
        position: center
    }
</style>

<body>
    <div>
        <h3 class="title">Tirelire @Model.nomProd</h3>
        <hr />
        <div class="text-left">
            <span>@Html.DisplayNameFor(model => model.Category.nomCategory) : </span>
            <span class="it">@Html.DisplayFor(model => model.Category.nomCategory)</span>
        </div>
        <br />
        <section class="row">
            <div class="col-md-6">
                <div id="photo" class="bloc btn" data-toggle="modal" data-target="#myModal">
                    <image src="@Url.Content("~/Images/" + Model.idProd + "_" + Model.imageUrl)" width="400" />
                </div>

                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <img class="imagemod" src="@Url.Content("~/Images/" + Model.idProd + "_" + Model.imageUrl)" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4 text-right bold">@Html.DisplayNameFor(model => model.PrixProd)</div>
                    <div class="col-md-6 prix text-left">@Html.DisplayFor(model => model.PrixProd)</div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4 text-right bold">@Html.DisplayNameFor(model => model.couleur)</div>
                    <div class="col-md-6 text-left">@Html.DisplayFor(model => model.couleur)</div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right bold">Capacité</div>
                    <div class="col-md-6 text-left">@Html.DisplayFor(model => model.capacite) pièces de 1 €</div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right bold">Poids</div>
                    <div class="col-md-6 text-left">@Html.DisplayFor(model => model.poids) kg</div>
                </div>
                <br />
                <div class="row">
                    <p class="col-md-4 col-md-offset-1 bold text-center">Dimensions : </p>
                    </div>
                    <div class="row">
                    <div class="col-md-4 text-right">@Html.DisplayNameFor(model => model.longeur)</div>
                    <div class="col-md-6 text-left">@Html.DisplayFor(model => model.longeur) cm</div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right">@Html.DisplayNameFor(model => model.largeur)</div>
                    <div class="col-md-6 text-left">@Html.DisplayFor(model => model.largeur) cm</div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right">@Html.DisplayNameFor(model => model.hauteur)</div>
                    <div class="col-md-6 text-left">@Html.DisplayFor(model => model.hauteur) cm</div>
                </div>

                <br />
                <input type="button" class="btn-success btn-lg" value="Ajouter au panier"
                       onclick="location.href='@Url.Action("Ajouter", "Panier", new {id=Model.idProd })'" />
                <br />
                <br />
                <div>
                    <button class="btn btn-default descr" type="button" data-toggle="collapse" data-target="#produit">
                        @Html.DisplayNameFor(model => model.descriptionProd)
                    </button>
                    <div class="collapse" id="produit">
                        @Html.DisplayFor(model => model.descriptionProd)
                    </div>
                </div>
                <br />
                <div>
                    <button class="btn btn-default descr" type="button" data-toggle="collapse" data-target="#fourn">
                        Fabricant : @Html.DisplayFor(model => model.Fournisseur.nomFourn)
                    </button>
                    <div class="collapse" id="fourn">
                        @Html.DisplayFor(model => model.Fournisseur.descriptionFourn)
                    </div>
                </div>
            </div>
        </section>
    </div>
    <br />
    @if (Model.Avis.Where(a=>a.statusAvis==2).Count() > 0)
    {
        <button class="btn btn-default text-left" type="button" data-toggle="collapse" data-target="#avis">
            Regarder les avis
        </button>
        <div class="collapse" id="avis">
            @foreach (EcommerceElena.Models.Avi item in Model.Avis.Where(a=>a.statusAvis==2))
            {
                <div class="text-left">
                    <p class="bold"><span class="prenom">@item.User.PrenomUser </span><span>(@item.note)</span></p>
                    <p>@item.texte</p>
                    <hr/>
                </div>
            }
        </div>
    }
    <br />
    <br />
    <hr />
    <section>
        @Html.Action("_ColorGallery", "Produit", new { color = Model.couleur, id = Model.idProd })

        <br />
        <br/>
        <hr/>
        <p>
            @Html.Action("_BestProduits", "Produit")
        </p>
        <input type="button" class="btn-info btn-lg" value="Retour à la Galerie" onclick="location.href='@Url.Action("Gallery", "Produit")'" />
    </section>
</body>
