@model EcommerceElena.Models.Commande
@using EcommerceElena.Models
@{
    ViewBag.Title = "Commande";
}
<style>
    .prix {
        font-weight: bold
    }
    .title {
        font-family:'Ink Free';
        font-size: 30px;
    }
</style>

<body>
    <div>
        <h4 class="title">Commande № @Model.IdCommande</h4>
        <hr />
        <br />
        <div>Statut de la commande : @(((EcommerceElena.Outils.StatusCommande)Model.statusCommande).ToString())</div>
        <hr />
    </div>
    <div>
        <table>
            <tr class="text-center">
                <th></th>
                <th class="col-lg-2 text-center">Produit</th>
                <th class="col-lg-2 text-center">Prix</th>
                <th class="col-lg-4 text-center">Fournisseur</th>
                <th class="col-lg-4 text-center">Quantité</th>
                <th class="col-lg-1 text-center">Montant</th>
            </tr>
            @foreach (var detail in Model.DetailCommandes)
            {
                <tr class="text-center">
                    <td><image src="@Url.Content("~/Images/" + detail.idProd + "_" + detail.Produit.imageUrl)" width="30" )"></image></td>
                    <td class="col-lg-2">@detail.Produit.nomProd</td>
                    <td class="col-lg-2">@detail.Produit.PrixProd €</td>
                    <td class="col-lg-2">@detail.Produit.Fournisseur.nomFourn</td>
                    <td class="col-lg-2">@detail.quantite</td>
                    <td class="col-lg-2">@(detail.Produit.PrixProd * detail.quantite) €</td>
                    <td>
                        @if (detail.Produit.Avis.Where(a => a.idUser == ((User)Session["User"]).idUser).Count() == 0)
                        {
                            <span>@Html.ActionLink("Déposer un avis", "DeposerAvis", new { id = detail.Produit.idProd })</span>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    <hr />
    <div class="text-right prix">Montant de la commande : @Model.PrixTotal €</div>

    <hr />
    <br />
    @Html.ActionLink("Retour à la Galerie", "Gallery", "Produit")
</body>
