@model EcommerceElena.Models.Commande
@{
    ViewBag.Title = "Validation";
}
<style>
.title {
        font-family:'Ink Free';
        font-size: 40px;
    }
    </style >

    <h2 class="title"> Validation</h2>
    <div>
    <h4 > Commande № @Model.IdCommande </h4>

    <br />
    <p>
    <span>
    @(((EcommerceElena.Models.User)Session["User"]).PrenomUser)
    </span>
    <span>
    @(((EcommerceElena.Models.User)Session["User"]).nomUser), votre commande № @Model.IdCommande a été validée
    </span>
    </p>
    <br />
    <p>
    Nous vous remercions pour votre achât !
    </p>
    </div>
    <p>
    @Html.ActionLink("Retour vers la galerie", "Gallery", "Produit")
    </p>


